$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$darkDesaturateCyan: hsl(167, 40%, 24%);
$DarkBluePhotographyText: hsl(198, 62%, 26%);
$DarkModerateCyanFooter: hsl(168, 34%, 41%);
$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$mobile:576px;
$tablet:768px;
$laptop:992px;
$desktop:1200px;

.container{
    flex-direction: row;
    font-family: Fraunces, serif;

 .container-section-odd{
    display:flex;
}
  .container-section-even{
    display: flex;
    flex-direction: row-reverse;
  }
  .container-section-odd >  .images-one>.mobile-image-1 {
    display:none;
}
.container-section-even > .images-two > .mobile-image-2 {
    display:none;
}

.container-section-odd > .text-one{
    text-align: left;
    padding: 6rem 4rem 3rem 3rem ;
    
}


.container-section-odd > .text-one > h1 {
   color: $VeryDarkDesaturatedBlue;
   padding-bottom: 2rem;
   padding-right: 10rem;
   padding-left: 2rem;
 
}

.container-section-odd > .text-one > p {
    color: $VeryDarkGrayishBlue;
    padding-right: 6rem;
    padding-left: 2rem;
    font-size: 12px;
    padding-bottom: 2rem;
    line-height: 1.6;
    font-family: 'Barlow', sans-serif;
 }

 .container-section-odd > .text-one > h3{
    color: $VeryDarkGrayishBlue;
    padding-right: 1rem;
    padding-left: 2rem;
    color: $VeryDarkDesaturatedBlue;
 }


// text for even section 
 .container-section-even > .text-two{
    text-align: left;
    padding: 6rem 4rem 3rem 3rem ;
 }

 .container-section-even > .text-two > h1 {
    color: $VeryDarkDesaturatedBlue;
    padding-bottom: 2rem;
    padding-left: 2rem;
    
  
 }


 
.container-section-even > .text-two > p {
    color: $VeryDarkGrayishBlue;
    padding-right: 8rem;
    padding-left: 2rem;
    font-size: 12px;
    padding-bottom: 2rem;
    line-height: 1.6;
    font-family: 'Barlow', sans-serif;
 }

 .container-section-even > .text-two > h3{
    color: $VeryDarkGrayishBlue;
    padding-right: 1rem;
    padding-left: 2rem;
    color: $VeryDarkDesaturatedBlue;
 }


//  images for desktop
 .container-section-odd > .images-one > .desktop-image-1 {
    width:102.5vh;
    height: 100%;
 }
 .container-section-even > .images-two > .desktop-image-2 {
    width:103vh;
    height: 100%;
 }

}



@media (max-width:$laptop){
   .container{
       .container-section-odd > .images-one > .desktop-image-1 {
               width:74vh;
               height: 100%;
        }
        .container-section-odd > .text-one > h1 {
         padding-right: 9rem;
    }
        .container-section-even > .images-two > .desktop-image-2 {
               width:74vh;
               height: 100%;
        } 
   }
}


@media  (max-width:$tablet){
   .container{
      display: flex;
      flex-direction: column-reverse;
   }
    .container-section-odd > .images-one > .desktop-image-1 {
      display: none;
    }


    .container-section-odd >  .text-one {
      text-align: center;
    } 
    .container-section-even > .images-two > .desktop-image-2 {
      display: none;
    }
    .container-section-even > .text-two {
      text-align: center;
    }
}


@media (max-width:$mobile){

   .container{
      display: flex;
      flex-direction: column-reverse;
      
   }
    .container-section-odd > .images-one > .desktop-image-1 {
      display: none;
    }
    .container-section-odd >  .text-one {
      text-align: center;
    } 

    .container-section-odd > .text-one > h1{
      font-size: 14px;
    }
    .container-section-odd > .text-one > p {
      font-size: 15px;
   
    }
    .container-section-odd > .text-one > h3{
      font-size: 13px;
    }
   

    .container-section-even > .images-one > .desktop-image-2 {
      display: none;
    }
    .container-section-even >  .text-one {
      text-align: center;
    } 

    .container-section-even > .text-one > h1{
      font-size: 14px;
    }
    .container-section-even > .text-one > p {
      font-size: 15px;
   
    }
    .container-section-even > .text-one > h3{
      font-size: 13px;
    }
   
   .container-section-even  > .images-two > .mobile-image-2 {
         width:100%;
         height: 100%;
   }
   
   }