$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$darkDesaturateCyan: hsl(167, 40%, 24%);
$DarkBluePhotographyText: hsl(198, 62%, 26%);
$DarkModerateCyanFooter: hsl(168, 34%, 41%);
$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$mobile:576px;
$tablet:768px;
$laptop:992px;
$desktop:1200px;

.container{
  .container-section-odd{
    display:flex;
  }
  .container-section-odd > .text-one {
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 8rem;
  }
  .container-section-odd > .text-one > h1 {
    color:$VeryDarkDesaturatedBlue;
    font-family: 'Fraunces', serif;
    padding-bottom: 1rem;
    
  }
  .container-section-odd > .text-one > p {
    color:$DarkGrayishBlue;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    padding-bottom: 1rem;
  } 
  .container-section-odd > .text-one > h3{
    color:$VeryDarkDesaturatedBlue;
    font-family: 'Fraunces', serif;
  }

 .container-section-odd> .image-one > .desktop-image-1 {
    width:35.1rem;
 }
  .container-section-odd> .image-one > .mobile-image-1 {
    display:none;
 }



  .container-section-even > .text-two {
    align-items: center;
    justify-content: center;
    text-align: left;
     margin: 8rem;
    

  }
  .container-section-even{
    display:flex;
    flex-direction: row-reverse;
  }

  .container-section-even > .text-two> h1 {
    color:$VeryDarkDesaturatedBlue;
    font-family: 'Fraunces', serif;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .container-section-even > .text-two > p {
    color:$DarkGrayishBlue;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    padding-bottom: 1rem;
  } 
  .container-section-even > .text-two > h3{
    color:$VeryDarkDesaturatedBlue;
    font-family: 'Fraunces', serif;
  }

  .container-section-even > .image-two > .desktop-image-2{
    width:35.1rem;
 
 }
  .container-section-even > .image-two > .mobile-image-2{
     display: none;
  }
}


@media (max-width:$desktop){
  .container{
    


    .container-section-odd> .image-one > .desktop-image-1 {
      width:37.4rem;
   }
  .container-section-even > .image-two > .desktop-image-2{
    width:37.4rem;
 
 }

  }
}


@media(max-width:$laptop){
  .container{
    .container-section-odd> .image-one > .desktop-image-1 {
      width:31rem;
   }
   
  .container-section-odd > .text-one {
    align-items: center;
    justify-content: center;
    text-align: left;
     margin: 5rem;
    }







  .container-section-even > .image-two > .desktop-image-2{
    width:31rem;
 
 }
 .container-section-even > .text-two {
  align-items: center;
  justify-content: center;
  text-align: left;
   margin: 5rem;
}
  }

}


@media (max-width:$tablet){
  .container{
     .container-section-odd{
      display:flex;
      flex-direction: column-reverse;
    }

    .container-section-odd > .text-one {
      align-items: center;
      justify-content: center;
      text-align: center
    }
 

    .container-section-odd> .image-one > .desktop-image-1 {
      width:48rem;
   }
   .container-section-odd > .text-one> p {
    padding-left: 8rem;
    padding-right: 8rem;
  } 

   .container-section-even> .image-two > .desktop-image-2 {
     width:48rem;
 }

 
 .container-section-even{
  display:flex;
  flex-direction: column-reverse;
}

 .container-section-even > .text-two {
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.container-section-even > .text-two > p {
  padding-left: 8rem;
  padding-right: 8rem;
} 
  }
}



@media (max-width:$mobile){
  .container{
    


    .container-section-odd> .image-one > .desktop-image-1 {
      width:36rem;
   }


   .container-section-even> .image-two > .desktop-image-2 {
    width:36rem;
}

.container-section-odd > .text-one> p {
  padding-left: 2rem;
  padding-right: 2rem;
} 
.container-section-even > .text-two > p {
  padding-left: 2rem;
  padding-right: 2rem;
} 
  }
}